/* reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

/* common css */
.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

.layout {
	width: 1200px;
	margin: 0 auto;
}

body {
	font: 14px/1.5 Arial;
	color: #444;
}
